<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <queries>
        <package android:name="com.snapchat.android" />
        <package android:name="com.reddit.frontpage" />
        <package android:name="com.whatsapp" />
    </queries>
    <application
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        tools:targetApi="34"
        android:allowBackup="false"
        android:hasFragileUserData="false"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Purrfect by Eternal" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposedscope"
            android:value="com.snapchat.android,com.reddit.frontpage,com.whatsapp" />
        <service
            android:name=".bridge.BridgeService"
            android:exported="true"
            android:permission="com.snapchat.android.permission.UPDATE_STICKER_INDEX">
        </service>
        <activity
            android:name=".ui.manager.MainActivity"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.setup.SetupActivity"
            android:launchMode="singleTask"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".bridge.ForceStartActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:excludeFromRecents="true"
            android:exported="true" />
        <activity android:name=".bridge.BiometricPromptActivity"
            android:theme="@style/BiometricPromptTheme"
            android:excludeFromRecents="true"
            android:exported="true"
            android:permission="com.snapchat.android.permission.UPDATE_STICKER_INDEX" />
        <receiver android:name=".StreaksReminder" />
        <receiver
            android:name=".reddit.RedditConfigBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="me.eternal.purrfect.action.REDDIT_CONFIG_REQUEST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".bridge.RedditLogReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="me.eternal.purrfect.REDDIT_LOG" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".whatsapp.WhatsAppConfigBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="me.eternal.purrfect.action.WHATSAPP_CONFIG_REQUEST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".bridge.WhatsAppLogReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="me.eternal.purrfect.WHATSAPP_LOG" />
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="me.eternal.purrfect.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name=".reddit.RedditConfigProvider"
            android:authorities="me.eternal.purrfect.reddit.config"
            android:exported="true" />
        <provider
            android:name=".whatsapp.WhatsAppConfigProvider"
            android:authorities="me.eternal.purrfect.whatsapp.config"
            android:exported="true" />
    </application>
</manifest>
